
/* ---------------- For sticky header: class="float-panel"  ------------------*/
    .float-panel {
        width:100%;background:transparent;z-index:300;padding:20px 0;transform: translateZ(0);
        transition:all 0.5s; border-top: 4px solid #98165d;border-bottom: 3px solid #d7b989; /* Effect for switching from .fixed to static */
    }
    .float-panel li a{color:rgba(0,0,0,0.7);padding: 16px; transition:all 0.5s; }
    .float-panel li a:hover{border-top: 1px solid #98165d;; transition:all 0.5s; }
    .float-panel .logo_img {width: 100%; transition:all 0.5s;display: block; }
    .float-panel .logo2_img {display: none; transition:all 0.5s; }
    .float-panel .hide {padding-top: 40px; transition:all 0.5s; }
    .float-panel .navbar .line{
        border-bottom: 1px solid rgba(0, 0, 0,0.2);
        transition:all 0.5s;
    }

    /* when class="float-panel fixed" */
    .fixed {padding:4px 0;animation:slide-down 0.7s;background: rgba(152,22,93,0.8);border-top: none;border-bottom: 1px solid #d7b989;}
    .fixed li a {padding: 8px 16px;color:rgba(255,255,255,0.9); }
    .fixed li a:hover {color:rgba(255,255,255,1);border-top: 1px solid #fff; }
    .fixed .logo_img {display: none; }
    .fixed .logo2_img {width: 75%;display: block; }
    .fixed .header {padding: 0px; }
    .fixed .navbar .line{
        border-bottom: 1px solid rgba(255, 255, 255,0.6);
    }
    .fixed .hide {border-bottom: 1px solid transparent !important;padding-top: 30px; }
    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 0.9;
            transform: translateY(0);
        }
    }

    /* ---------------- For Animation on Scroll ---------------- */
    .slideanim {
        visibility:hidden;
        visibility:visible\9;/*For old IE browsers IE6-8 */
    }
    .slideanim.slide {visibility: visible; animation:slide 2s;}
    .slideanim::after {
        /* useful when its child elements are float:left; */
        content: "";
        display: table;
        clear: both;
    }

    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(50%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
@media (max-width: 767px) {
    .fixed {
        position: absolute !important;
        top: 0px;
    }
}

/* ---------------- For Animation on Scroll ---------------- */
.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim {visibility: visible; animation:slide 2s;}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 0.5;
        transform: translateX(0);
    }
}

/* ---------------- For Animation on Scroll ---------------- */
.slideanim2 {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim2{visibility: visible; animation:slide2 2s;}
.slideanim2::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide2 {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 0.5;
        transform: translateY(0);
    }
}

