@import url('../extra/fonts/font-face.css');
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, a {
    font-family: 'Vazir';
}
body{
    /* background-color: #eeeeee; */
}
.sec-title h2{
    color: rgb(59, 53, 53);
    font-size: 1.5rem;
}
.sec-title h2 span{
    color: #d7b989;
}

.line-center {
    margin: 0;
    padding: 0 15px;
    background: rgb(0, 0, 0);
    display: inline-block;
    border-right: 3px solid #8f7900;
  }
  
  .title {
    text-align: right;
    position: relative;
    z-index: 2;
    color: rgba(0,0,0,0.6);
    font-size: 1.2rem;
  }
  .title span , .title1 span{
      background-color: #eee;
  }
  
  .title:after, .title1:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 2px #8f7900;
    z-index: -1;
  }
/* navbar */
.header{
    /* background-color: #fff; */
    /* background-image: url(./image/logo4.png);
    background-repeat: no-repeat;
    background-size: cover; */
}
/* .navbar .line{
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
} */
.navbar ul li a{
    font-size: 0.9rem;
    transition: all 0.3s;
    border-top: 1px solid transparent;
}
/* .navbar ul li a:hover{
    border-top: 1px solid #98165d;
} */
.navbar button{
    color: #d7b989;
    border: 1px solid #d7b989;
    font-size: 0.7rem;
    border-radius: 0px;
    transition: all 0.3s;
}
.navbar button:hover{
    color: #ffffff;
    border: 1px solid #d7b989;
    background-color: #d7b989;
}
/* carousel */
.carousel-inner{
    width: 100%;
    /* height: 700px; */
}
.carousel-inner img{
    width: 100%;
    /* height: 700px !important; */
}
/* download */
  
/* news */
.bg-news{
    background-color: #eee;
}
.productitem{
    transition:all 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 2px #bbbbbb ;
    border-radius: 3px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.productitem:hover{
    box-shadow: 0px 0px 8px #a7a7a7 ;
}
.productitem > div:first-child{
    overflow: hidden;
    
}
.productitem div:nth-child(2){
    transition: all 0.3s;
}
/* .productitem:hover div:nth-child(2){
    background-color:#2b376f !important;
    color: #fff;
} */
/* .productitem:hover h3 {
    color: #8f7900;
} */
.productitem > img{
    transition: all 0.3s;
    width: 400px;
    top: 10% !important;
    z-index: 1;
    right: 0;
}
/* .productitem:hover > img{
    transform: scale(1.03);
} */
.productitem  h3{
    font-size: 0.9rem;
    line-height: 20px;
    /* border-top:1px solid #717280; */
    /* color: #696b72; */
    color: #8f7900;
    
    
}
/* unit */
.unit{
    border:1px solid #dbaa5a;
    border-radius: 3px;
}
/* login */
.login{
    background-image: url("image/back2.png");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 400px;
    cursor: pointer;
}
/* footer */
.bg-footer{
    background-color: #373737;
}
.footer h3{
font-size:1rem;
/* border-bottom: 1px solid #564f46; */
color:#d7b989 ;
}
.footer .nav-item img{
    width: 15px;
}
.footer .nav-item a {
    color: #fff!important;
    font-size: 0.8rem;
}
.footer .nav-item a:hover{
    color: #d7b989; ;
}
.footer li {
    border: none !important;
    opacity: 0.8;
}
.footer li:hover {
    border: none !important;
    opacity: 1;
}
.footercourse{
    cursor: pointer;
    opacity: 0.8;
}
.footercourse:hover{
    opacity: 1;
}
.footercourse div{
    width: 40px;
    height: 40px;
}
.footercourse h5{
    font-size: 0.6rem;
}
.footercourse h4 , .contact h5 , .contact h4{
    font-size: 0.8rem;
    color: #ffffff;
}
.trust img{
    width: 100px;
}
.footer > div:nth-child(2) > div:nth-child(2){
    border-top: 1px solid #4a5777;
}
.follow{
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #d7b989;
    opacity: 0.8;
    transition: all 0.3s;
}
.follow:hover{
    opacity: 1;
}
.follow img{
    width: 20px;
    transition: all 0.3s;
}
.footer .input-group{
    direction: ltr;
    border: 1px solid #e7edfa;
    background-color: #fff;
    border-radius: 5px;
}
.footer .input-group > span > h5{ 
    color: #a6abc8;
    border-left:1px solid #e7edfa ;
    font-size: 0.7rem;
}
.footer .form-control{
    border: 0px !important;
    font-size: 0.7rem;
    color: #d5d8e5;

}
.footer .input-group-text {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.8rem;
    color: #887b65;
}
form label{
    font-size: 0.8rem;
    color: #fff;

}
form button{
    font-size: 0.8rem !important;
    background-color:transparent;
    border: 1px solid #d7b989 !important;
    color: #d7b989 !important;
    border-radius: 0px;
}
form button:hover{
    background-color:#d7b989;
    color: #fff !important;
}
.bg-end{
    border-top: 1px solid #564f46;
}
.bg-end h6{
    font-size: 0.8rem;
    font-weight: normal;
}
.bg-end img{
    width: 12px;
}
/* carousel */
.item{
    opacity:0.4;
    transition:.4s ease all;
    margin:0 10px;
    /* transform:scale(1.3); */
  }
  @media(max-width:1000px){
    .item{margin:0; transform:scale(.9)}
  }
/*same height for slides*/
.owl-stage {
    display: flex;
}
.owl-item {
    display: flex;
    flex: 1;
}
/* slick */
.slider {
    width: 90%;
    margin: 50px auto;
    direction: ltr !important;
}

.slick-active{
    margin: 0px !important;
    opacity: .7;
}
.slider-nav .slick-slide {
    margin: 0px 20px !important;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: #454545 !important;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slider-nav .slick-active {
    opacity: 0.7;
}

.slick-current {
    opacity: 1;
}
.slick-dots li button:before {
    color: #454545 !important;
}
.slider-nav .slick-list{
    margin: 40px 0px;
}
.saloon{
    width:100%;
    overflow:hidden;
}
.saloon ul{
    width:100%;
    list-style-type:none;
}
.saloon ul li
{
    position: relative;
    display: flex;
    justify-content: left;
    width:32%;
    transition:all 0.4s;
}
.saloon:hover ul li{
    width:5%;
}
.saloon ul li:hover{
    width:90%;
}